<!doctype html>
<html class="no-js" lang="en">
        <!-- # Created @JARVIS-desktop by fachryansyah
        # https://facebook.com/fachry.ansyah.10 -->
{%load staticfiles%}
<head>
        <!-- title -->
        <title>Blog Post - Django by fachryansyah</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="Fachryansyah">
        <!-- animation -->
        <link rel="stylesheet" href="{%static 'css/animate.css'%}" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}" />
        <!-- et line icon --> 
        <link rel="stylesheet" href="{%static 'css/et-line-icons.css'%}" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}" />
        <!-- themify icon -->
        <link rel="stylesheet" href="{%static 'css/themify-icons.css'%}">
        <!-- swiper carousel -->
        <link rel="stylesheet" href="{%static 'css/swiper.min.css'%}">
        <!-- justified gallery  -->
        <link rel="stylesheet" href="{%static 'css/justified-gallery.min.css'%}">
        <!-- magnific popup -->
        <link rel="stylesheet" href="{%static 'css/magnific-popup.css'%}" />
        <!-- revolution slider -->
        <link rel="stylesheet" type="text/css" href="{%static 'revolution/css/settings.css'%}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{%static 'revolution/css/layers.css'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'revolution/css/navigation.css'%}">
        <!-- bootsnav -->
        <link rel="stylesheet" href="{%static 'css/bootsnav.css'%}">
        <!-- style -->
        <link rel="stylesheet" href="{%static 'css/style.css'%}" />
        <!-- responsive css -->
        <link rel="stylesheet" href="{%static 'css/responsive.css'%}" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- start header -->
        <header>
            <!-- start navigation -->
            <nav class="navbar navbar-default bootsnav bg-transparent navbar-scroll-top nav-box-width header-light">
                <div class="container-fluid nav-header-container">
                    <div class="row">
                        <!-- start logo -->
                        <div class="col-md-2 col-xs-5">
                            <a href="index.html" title="Pofo" class="logo"><img src="images/logo.png" data-at2x="images/logo@2x.png" class="logo-dark default" alt="Pofo"><img src="images/logo-white.png" data-at2x="images/logo-white@2x.png" alt="Pofo" class="logo-light"></a>
                        </div>
                        <!-- end logo -->
                        <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right">
                            <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                                <span class="sr-only">toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                                <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                                    <!-- start menu item -->
                                    <li class="dropdown megamenu-fw">
                                        <a href="javascript:void(0);">Home</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                        
                                    </li>
                                    <!-- end menu item -->
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-5 width-auto">
                            
                            <div class="header-social-icon xs-display-none">
                                <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="https://dribbble.com/" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>                          
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- end navigation --> 
        </header>
        <!-- end header -->
        <!-- start page title section -->
        <section class="wow fadeIn cover-background background-position-top" style="background-image:url('{%static 'img/miyazono.png'%}');">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                        <div class="display-table-cell vertical-align-middle text-center padding-30px-tb">
                            <!-- start sub title -->
                            <span class="text-white opacity6 alt-font margin-10px-bottom display-block text-uppercase text-small">{{post.created_at}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;by <a href="blog-masonry.html" class="text-white">Fachryansyah</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="blog-masonry.html" class="text-white">Anime</a>
                            <!-- end sub title -->
                            <!-- start page title -->
                            <h1 class="text-white alt-font font-weight-600 margin-10px-bottom">{{post.title}}</h1>
                            <!-- end page title -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title section -->
        <!-- start section -->
        <section class="wow fadeIn padding-20px-tb border-bottom border-color-extra-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 display-table">
                        <div class="display-table-cell vertical-align-middle text-left">
                            <div class="breadcrumb alt-font text-small no-margin-bottom">
                                <!-- breadcrumb -->
                                <ul>
                                    <li><a href="#" class="text-medium-gray">Home</a></li>
                                    <li><a href="#" class="text-medium-gray">Blog</a></li>
                                    <li class="text-medium-gray">{{post.title}}</li>
                                </ul>
                                <!-- end breadcrumb -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start blog content section -->
        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 center-col text-center last-paragraph-no-margin">
                        <h5 class="alt-font text-extra-dark-gray font-weight-600 no-margin-bottom">{{post.title}}</h5>
                        {{post.content}}
                    </div>
                </div>
            </div>
        </section>
        <!-- end blog content section -->
        <!-- start section -->
        <section class="wow fadeIn no-padding-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 center-col no-padding">
                        <div class="col-md-8 col-sm-6 col-xs-12 text-left xs-text-center xs-margin-10px-bottom">
                            <div class="tag-cloud">
                                <a href="blog-grid.html">Anime</a>
                                <a href="blog-grid.html">Music</a>
                                <a href="blog-grid.html">Kaori</a>
                                <a href="blog-grid.html">Arima</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 text-right xs-text-center">
                            <div class="social-icon-style-6">
                                <ul class="extra-small-icon">
                                    <li><a class="likes-count" href="#" target="_blank"><i class="fa fa-heart text-deep-pink"></i><span class="text-small">300</span></a></li>
                                    <li><a class="facebook" href="http://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="twitter" href="http://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="google" href="http://google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a class="pinterest" href="http://dribbble.com/" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 center-col margin-50px-top sm-margin-30px-top wow fadeInUp">
                        <div class="display-table width-100 border-all border-color-extra-light-gray padding-50px-all sm-padding-30px-all xs-padding-20px-all">
                            <div class="display-table-cell width-130px text-center vertical-align-top xs-margin-15px-bottom xs-width-100 xs-display-block xs-text-center">
                                <img src="images/avtar-01.jpg" class="img-circle width-100px" alt="" />
                            </div>
                            <div class="padding-40px-left display-table-cell vertical-align-top last-paragraph-no-margin xs-no-padding-left xs-display-block xs-text-center">
                                <a href="#" class="text-extra-dark-gray text-uppercase alt-font font-weight-600 margin-10px-bottom display-inline-block text-small">Alexander Harvard</a>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                <a class="btn btn-very-small btn-black margin-20px-top">All author posts</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start related post section -->
        <section class="wow fadeIn bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 center-col text-center margin-80px-bottom xs-margin-40px-bottom">
                        <div class="position-relative overflow-hidden width-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">Related Posts</span>
                        </div>
                    </div>
                </div>
                <div class="row col-4-nth sm-col-2-nth">
                    <!-- start post item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 last-paragraph-no-margin sm-margin-50px-bottom xs-margin-30px-bottom wow fadeInUp">
                        <div class="blog-post blog-post-style1 xs-text-center">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom sm-margin-20px-bottom">
                                <a href="blog-post-layout-01.html">
                                    <img src="images/blog-img15.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-details">
                                <span class="post-author text-extra-small text-medium-gray text-uppercase display-block margin-10px-bottom xs-margin-5px-bottom">17 july 2017 | by <a href="blog-masonry.html" class="text-medium-gray">Jay Benjamin</a></span>
                                <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 display-block sm-width-100">I try to look at design from a more conceptual standpoint.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb sm-margin-15px-tb"></div>
                                <p class="width-90 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <!-- start post item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 last-paragraph-no-margin sm-margin-50px-bottom xs-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-post blog-post-style1 xs-text-center">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom sm-margin-20px-bottom">
                                <a href="blog-post-layout-02.html">
                                    <img src="images/blog-img16.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-details">
                                <span class="post-author text-extra-small text-medium-gray text-uppercase display-block margin-10px-bottom  xs-margin-5px-bottom">03 July 2017 | by <a href="blog-masonry.html" class="text-medium-gray">Herman Miller</a></span>
                                <a href="blog-post-layout-02.html" class="post-title text-medium text-extra-dark-gray width-90 display-block sm-width-100">Good design accelerates the adoption of new ideas.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb sm-margin-15px-tb"></div> 
                                <p class="width-90 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <!-- start post item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 last-paragraph-no-margin xs-margin-30px-bottom wow fadeInUp" data-wow-delay="0.4s">
                        <div class="blog-post blog-post-style1 xs-text-center">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom sm-margin-20px-bottom">
                                <a href="blog-post-layout-03.html">
                                    <img src="images/blog-img17.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-details">
                                <span class="post-author text-extra-small text-medium-gray text-uppercase display-block margin-10px-bottom  xs-margin-5px-bottom">22 June 2017 | by <a href="blog-masonry.html" class="text-medium-gray">Hugh Macleod</a></span>
                                <a href="blog-post-layout-03.html" class="post-title text-medium text-extra-dark-gray width-90 display-block sm-width-100">Design is inherently optimistic. That is its power.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb sm-margin-15px-tb"></div>
                                <p class="width-90 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <!-- start post item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 last-paragraph-no-margin wow fadeInUp" data-wow-delay="0.6s">
                        <div class="blog-post blog-post-style1 xs-text-center">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom sm-margin-20px-bottom">
                                <a href="blog-post-layout-04.html">
                                    <img src="images/blog-img18.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-details">
                                <span class="post-author text-extra-small text-medium-gray text-uppercase display-block margin-10px-bottom  xs-margin-5px-bottom">02 June 2017 | by <a href="blog-masonry.html" class="text-medium-gray">Jennifer Freeman</a></span>
                                <a href="blog-post-layout-04.html" class="post-title text-medium text-extra-dark-gray width-90 display-block sm-width-100">I wish someone would ask me to design a cathedral.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb sm-margin-15px-tb"></div>
                                <p class="width-90 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                </div>
            </div>
        </section>
        <!-- end related post section -->
        <!-- start comments section -->
        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 center-col text-center margin-80px-bottom sm-margin-50px-bottom xs-margin-15px-bottom">
                        <div class="position-relative overflow-hidden width-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">10 Comments</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 center-col">
                        <ul class="blog-comment">
                            <li>
                                <div class="display-table width-100">
                                    <div class="display-table-cell width-100px xs-width-50px text-center vertical-align-top xs-display-block xs-margin-10px-bottom">
                                        <img src="images/avtar-02.jpg" class="img-circle width-85 xs-width-100" alt="" />
                                    </div>
                                    <div class="padding-40px-left display-table-cell vertical-align-top last-paragraph-no-margin xs-no-padding-left xs-display-block">
                                        <a href="#" class="text-extra-dark-gray text-uppercase alt-font font-weight-600 text-small">Herman Miller</a>
                                        <a href="#comments" class="inner-link btn-reply text-uppercase alt-font text-extra-dark-gray">Reply</a>
                                        <div class="text-small text-medium-gray text-uppercase margin-10px-bottom">17 july 2017, 6:05 pm</div>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                    </div>
                                </div>
                                <ul class="child-comment">
                                    <li>
                                        <div class="display-table width-100">
                                            <div class="display-table-cell width-100px xs-width-50px text-center vertical-align-top xs-display-block xs-margin-10px-bottom">
                                                <img src="images/avtar-01.jpg" class="img-circle width-85 xs-width-100" alt="" />
                                            </div>
                                            <div class="padding-40px-left display-table-cell vertical-align-top last-paragraph-no-margin xs-no-padding-left xs-display-block">
                                                <a href="#" class="text-extra-dark-gray text-uppercase alt-font font-weight-600 text-small">Alexander Harvard</a>
                                                <a href="#comments" class="inner-link btn-reply text-uppercase alt-font text-extra-dark-gray">Reply</a>
                                                <div class="text-small text-medium-gray text-uppercase margin-10px-bottom">17 july 2017, 6:05 pm</div>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="display-table width-100">
                                    <div class="display-table-cell width-100px xs-width-50px text-center vertical-align-top xs-display-block xs-margin-10px-bottom">
                                        <img src="images/avtar-04.jpg" class="img-circle width-85 xs-width-100" alt="" />
                                    </div>
                                    <div class="padding-40px-left display-table-cell vertical-align-top last-paragraph-no-margin xs-no-padding-left xs-display-block">
                                        <a href="#" class="text-extra-dark-gray text-uppercase alt-font font-weight-600 text-small">Jennifer Freeman</a>
                                        <a href="#comments" class="inner-link btn-reply text-uppercase alt-font text-extra-dark-gray">Reply</a>
                                        <div class="text-small text-medium-gray text-uppercase margin-10px-bottom">17 july 2017, 6:05 pm</div>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                    </div>
                                </div>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>
        </section>
        <!-- end comments section -->
        <!-- start comment form section -->
        <section class="wow fadeIn bg-light-gray" id="comments">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 center-col text-center margin-80px-bottom xs-margin-40px-bottom">
                        <div class="position-relative overflow-hidden width-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">Write A Comments</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 no-padding center-col text-center">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <input type="text" placeholder="Name *" class="medium-input">
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <input type="text" placeholder="E-mail *" class="medium-input">
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <input type="url" placeholder="Website" class="medium-input">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <textarea placeholder="Enter your comment here.." rows="8" class="medium-textarea"></textarea>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <button class="btn btn-dark-gray btn-small margin-15px-top" type="submit">Send message</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end comment form section -->

        <!-- start footer --> 
        <footer class="footer-classic-dark bg-extra-dark-gray padding-five-bottom xs-padding-30px-bottom">
            <div class="bg-dark-footer padding-50px-tb xs-padding-30px-tb">
                <div class="container">
                    <div class="row equalize xs-equalize-auto">
                        <!-- start slogan -->
                        <div class="col-md-4 col-sm-5 col-xs-12 text-center alt-font display-table xs-text-center xs-margin-15px-bottom">
                            <div class="display-table-cell vertical-align-middle">
                                London based highly creative studio
                            </div>
                        </div>
                        <!-- end slogan -->
                        <!-- start logo -->
                        <div class="col-md-4 col-sm-2 col-xs-12 text-center display-table xs-margin-10px-bottom">
                            <div class="display-table-cell vertical-align-middle">
                                <a href="index.html"><img class="footer-logo" src="images/logo-white.png" data-at2x="images/logo-white@2x.png" alt="Pofo"></a>
                            </div>
                        </div>
                        <!-- end logo -->
                        <!-- start social media -->
                        <div class="col-md-4 col-sm-5 col-xs-12 col-xs-12 text-center display-table xs-text-center">
                            <div class="display-table-cell vertical-align-middle">
                                <span class="alt-font margin-20px-right">On social networks</span>
                                <div class="social-icon-style-8 display-inline-block vertical-align-middle">
                                    <ul class="small-icon no-margin-bottom">
                                        <li><a class="facebook text-white" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a class="twitter text-white" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="google text-white" href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a class="instagram text-white" href="https://instagram.com/" target="_blank"><i class="fa fa-instagram no-margin-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end social media -->
                    </div>
                </div>
            </div>
            <div class="footer-widget-area padding-five-top padding-30px-bottom xs-padding-30px-top">
                <div class="container">
                    <div class="row">
                        <!-- start about -->
                        <div class="col-md-3 col-sm-6 col-xs-12 widget sm-margin-30px-bottom xs-text-center">
                            <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600">About Agency</div>
                            <p class="text-small width-95 xs-width-100 no-margin">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum is simply dummy text of the and typesetting industry. </p>
                        </div>
                        <!-- end about -->
                        <!-- start blog post -->
                        <div class="col-md-3 col-sm-6 col-xs-12 widget sm-margin-30px-bottom">
                            <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600 xs-text-center">Latest Blog Post</div>
                            <ul class="latest-post position-relative top-3">
                                <li class="border-bottom border-color-medium-dark-gray">
                                    <figure>
                                        <a href="blog-post-layout-01.html"><img src="images/latest-blog2.jpg" alt=""></a>
                                    </figure>
                                    <div class="text-small"><a href="blog-post-layout-01.html">Design is not just what looks...</a> <span class="clearfix"></span>20 April 2017 | by <a href="blog-grid.html">Herman Miller</a></div>
                                </li>
                                <li class="border-bottom border-color-medium-dark-gray">
                                    <figure>
                                        <a href="blog-post-layout-02.html"><img src="images/latest-blog3.jpg" alt=""></a>
                                    </figure>
                                    <div class="text-small"><a href="blog-post-layout-02.html">A lot of care, effort & passion...</a> <span class="clearfix"></span>20 April 2017 | by <a href="blog-grid.html">Herman Miller</a></div>
                                </li>
                                <li>
                                    <figure>
                                        <a href="blog-post-layout-03.html"><img src="images/latest-blog4.jpg" alt=""></a>
                                    </figure>
                                    <div class="text-small"><a href="blog-post-layout-03.html">I love making the stuff, that's...</a> <span class="clearfix"></span>20 April 2017 | by <a href="blog-grid.html">Herman Miller</a></div>
                                </li>
                            </ul>
                        </div>
                        <!-- end blog post -->
                        <!-- start newsletter -->
                        <div class="col-md-3 col-sm-6 col-xs-12 widget sm-margin-30px-bottom xs-text-center">
                            <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600">Subscribe Newsletter</div>
                            <p class="text-small width-90 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <form id="subscribenewsletterform" action="javascript:void(0)" method="post">
                                <div class="position-relative newsletter width-95">
                                    <div id="success-subscribe-newsletter" class="no-margin-lr"></div>
                                    <input type="text" id="email" name="email" class="bg-transparent text-small no-margin border-color-medium-dark-gray" placeholder="Enter your email...">
                                    <button id="button-subscribe-newsletter" type="submit" class="btn btn-arrow-small position-absolute border-color-medium-dark-gray"><i class="fa fa-caret-right no-margin-left"></i></button>
                                </div>   
                            </form>
                        </div>
                        <!-- end newsletter -->
                        <!-- start instagram -->
                        <div class="col-md-3 col-sm-6 col-xs-12 widget xs-margin-5px-bottom xs-text-center">
                            <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-20px-bottom font-weight-600">Follow us Instagram</div>
                            <div class="instagram-follow-api">
                                <ul id="instaFeed-footer"></ul>
                            </div>
                        </div>
                        <!-- end instagram -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="footer-bottom border-top border-color-medium-dark-gray padding-30px-top">
                    <div class="row">
                        <!-- start copyright -->
                        <div class="col-md-6 col-sm-6 col-xs-12 text-left text-small xs-text-center">POFO - Portfolio Concept Theme</div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right text-small xs-text-center">&COPY; 2017 POFO is Proudly Powered by <a href="http://www.themezaa.com/" target="_blank" title="ThemeZaa">ThemeZaa</a></div>
                        <!-- end copyright -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="{%static 'js/jquery.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/modernizr.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/bootstrap.min.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/jquery.easing.1.3.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/skrollr.min.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/smooth-scroll.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/jquery.appear.js'%}"></script>
        <!-- menu navigation -->
        <script type="text/javascript" src="{%static 'js/bootsnav.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/jquery.nav.js'%}"></script>
        <!-- animation -->
        <script type="text/javascript" src="{%static 'js/wow.min.js'%}"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="{%static 'js/page-scroll.js'%}"></script>
        <!-- swiper carousel -->
        <script type="text/javascript" src="{%static 'js/swiper.min.js'%}"></script>
        <!-- counter -->
        <script type="text/javascript" src="{%static 'js/jquery.count-to.js'%}"></script>
        <!-- parallax -->
        <script type="text/javascript" src="{%static 'js/jquery.stellar.js'%}"></script>
        <!-- magnific popup -->
        <script type="text/javascript" src="{%static 'js/jquery.magnific-popup.min.js'%}"></script>
        <!-- portfolio with shorting tab -->
        <script type="text/javascript" src="{%static 'js/isotope.pkgd.min.js'%}"></script>
        <!-- images loaded -->
        <script type="text/javascript" src="{%static 'js/imagesloaded.pkgd.min.js'%}"></script>
        <!-- pull menu -->
        <script type="text/javascript" src="{%static 'js/classie.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/hamburger-menu.js'%}"></script>
        <!-- counter  -->
        <script type="text/javascript" src="{%static 'js/counter.js'%}"></script>
        <!-- fit video  -->
        <script type="text/javascript" src="{%static 'js/jquery.fitvids.js'%}"></script>
        <!-- equalize -->
        <script type="text/javascript" src="{%static 'js/equalize.min.js'%}"></script>
        <!-- skill bars  -->
        <script type="text/javascript" src="{%static 'js/skill.bars.jquery.js'%}"></script> 
        <!-- justified gallery  -->
        <script type="text/javascript" src="{%static 'js/justified-gallery.min.js'%}"></script>
        <!--pie chart-->
        <script type="text/javascript" src="{%static 'js/jquery.easypiechart.min.js'%}"></script>
        <!-- instagram -->
        <script type="text/javascript" src="{%static 'js/instafeed.min.js'%}"></script>
        <!-- retina -->
        <script type="text/javascript" src="{%static 'js/retina.min.js'%}"></script>
        <!-- revolution -->
        <script type="text/javascript" src="{%static 'revolution/js/jquery.themepunch.tools.min.js'%}"></script>
        <script type="text/javascript" src="{%static 'revolution/js/jquery.themepunch.revolution.min.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/main.js'%}"></script>
    </body>

<!-- Mirrored from www.themezaa.com/html/pofo/blog-post-layout-04.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 28 Nov 2017 12:16:31 GMT -->
</html>