<!doctype html>
<html class="no-js" lang="en">
{%load staticfiles%}
<!-- # Created @JARVIS-desktop by fachryansyah
# https://facebook.com/fachry.ansyah.10 -->
<head>
        <!-- title -->
        <title>Blog Post - Django by fachryansyah</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="Fachryansyah">
        <!-- animation -->
        <link rel="stylesheet" href="{%static 'css/animate.css'%}" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}" />
        <!-- et line icon --> 
        <link rel="stylesheet" href="{%static 'css/et-line-icons.css'%}" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}" />
        <!-- themify icon -->
        <link rel="stylesheet" href="{%static 'css/themify-icons.css'%}">
        <!-- swiper carousel -->
        <link rel="stylesheet" href="{%static 'css/swiper.min.css'%}">
        <!-- justified gallery  -->
        <link rel="stylesheet" href="{%static 'css/justified-gallery.min.css'%}">
        <!-- magnific popup -->
        <link rel="stylesheet" href="{%static 'css/magnific-popup.css'%}" />
        <!-- revolution slider -->
        <link rel="stylesheet" type="text/css" href="{%static 'revolution/css/settings.css'%}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{%static 'revolution/css/layers.css'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'revolution/css/navigation.css'%}">
        <!-- bootsnav -->
        <link rel="stylesheet" href="{%static 'css/bootsnav.css'%}">
        <!-- style -->
        <link rel="stylesheet" href="{%static 'css/style.css'%}" />
        <!-- responsive css -->
        <link rel="stylesheet" href="{%static 'css/responsive.css'%}" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- start header -->
        <header>
            <!-- start navigation -->
            <nav class="navbar navbar-default bootsnav navbar-top header-light bg-transparent nav-box-width white-link">
                <div class="container-fluid nav-header-container">
                    <div class="row">
                        <!-- start logo -->
                        <div class="col-md-2 col-xs-5">
                            <a href="index.html" title="Pofo" class="logo"><img src="images/logo.png" data-at2x="images/logo@2x.png" class="logo-dark" alt="Pofo"><img src="images/logo-white.png" data-at2x="images/logo-white@2x.png" alt="Pofo" class="logo-light default"></a>
                        </div>
                        <!-- end logo -->
                        <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right">
                            <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                                <span class="sr-only">toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                                <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                                    <!-- start menu item -->
                                    <li class="dropdown megamenu-fw">
                                        <a href="#">Home</a><i class="fa fa-angle-down dropdown-toggle" aria-hidden="true"></i>
                                    </li>
                                    <!-- end menu item -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-5 width-auto">
                            <div class="header-social-icon xs-display-none">
                                <a href="https://www.facebook.com/fachry.ansyah.10" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="#" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>                          
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- end navigation --> 
        </header>
        <!-- end header -->
        <!-- start page title section -->
        <section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('{%static 'img/bg.jpeg'%}');">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
                        <div class="display-table-cell vertical-align-middle text-center">
                            <!-- start page title -->
                            <h1 class="text-white alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">Blog masonry</h1>
                            <span class="text-white opacity6 alt-font">Very simple blog created by fachryansyah with Python</span>
                            <!-- end page title --> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title section --> 
        <!-- start post content section --> 
        <section id="blog" class="wow fadeIn bg-light-gray half-section last-paragraph-no-margin blog-post-style5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 no-padding xs-padding-15px-lr">
                        <ul class="blog-grid blog-3col gutter-large">
                            <!-- start post item --> 
                            {%for post in posts%}
                            <li class="grid-item wow fadeInUp last-paragraph-no-margin">
                                <div class="blog-post">
                                    <div class="blog-post-images overflow-hidden">
                                        <a href="blog-post-layout-01.html">
                                            <img src="/static/{{post.img}}" alt="">
                                        </a>
                                        <div class="blog-categories bg-white text-uppercase text-extra-small alt-font"><a href="post/{{post.id}}">@{{post.created_at}}</a></div>
                                    </div>
                                    <div class="post-details padding-40px-all bg-white sm-padding-20px-all">
                                        <div class="blog-hover-color"></div>
                                        <a href="post/{{post.id}}" class="alt-font post-title text-medium text-extra-dark-gray width-90 display-block md-width-100 margin-5px-bottom">{{post.title}}</a>
                                        <div class="author">
                                            <span class="text-medium-gray text-uppercase text-extra-small display-inline-block">by <a href="blog-grid.html" class="text-medium-gray">{{post.created_by}}</a></span>
                                        </div>
                                        <div class="separator-line-horrizontal-full bg-medium-gray margin-seven-tb md-margin-four-tb"></div>
                                        <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy...</p> -->
                                    </div>
                                </div>
                            </li>
                            {%endfor%}
                            <!-- end post item --> 
                        </ul>
                    </div>
                </div>
                <!-- start pagination -->
                <!-- <div class=" text-center margin-100px-top sm-margin-50px-top wow fadeInUp">
                    <div class="pagination text-small text-uppercase text-extra-dark-gray">
                        <ul>
                            <li><a href="#"><i class="fa fa-long-arrow-left margin-5px-right xs-display-none"></i> Prev</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">Next <i class="fa fa-long-arrow-right margin-5px-left xs-display-none"></i></a></li>
                        </ul>
                    </div>
                </div> -->
                <!-- end pagination -->
            </div>
        </section> 
        <!-- end post content section --> 
        <!-- start footer --> 
        <footer class="footer-classic-dark bg-extra-dark-gray padding-five-bottom xs-padding-30px-bottom">
            <div class="bg-dark-footer padding-50px-tb xs-padding-30px-tb">
                <div class="container">
                    <div class="row equalize xs-equalize-auto">
                        <!-- start slogan -->
                        <div class="col-md-4 col-sm-5 col-xs-12 text-center alt-font display-table xs-text-center xs-margin-15px-bottom">
                            <div class="display-table-cell vertical-align-middle">
                                Design with Pofo theme
                            </div>
                        </div>
                        <!-- end slogan -->
                        <!-- start logo -->
                        <div class="col-md-4 col-sm-2 col-xs-12 text-center display-table xs-margin-10px-bottom">
                            <div class="display-table-cell vertical-align-middle">
                                <a href="index.html"><img class="footer-logo" src="images/logo-white.png" data-at2x="images/logo-white@2x.png" alt="Pofo"></a>
                            </div>
                        </div>
                        <!-- end logo -->
                        <!-- start social media -->
                        <div class="col-md-4 col-sm-5 col-xs-12 col-xs-12 text-center display-table xs-text-center">
                            <div class="display-table-cell vertical-align-middle">
                                <span class="alt-font margin-20px-right">On social networks</span>
                                <div class="social-icon-style-8 display-inline-block vertical-align-middle">
                                    <ul class="small-icon no-margin-bottom">
                                        <li><a class="facebook text-white" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a class="twitter text-white" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="google text-white" href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a class="instagram text-white" href="https://instagram.com/" target="_blank"><i class="fa fa-instagram no-margin-right" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end social media -->
                    </div>
                </div>
            </div>
            
            <div class="container">
                <div class="footer-bottom border-top border-color-medium-dark-gray padding-30px-top">
                    <div class="row">
                        <!-- start copyright -->
                        <div class="col-md-6 col-sm-6 col-xs-12 text-left text-small xs-text-center">Blog masonry - made with python by fachryansyah</div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right text-small xs-text-center">&COPY; 2017 POFO is Proudly Powered by <a href="http://www.themezaa.com/" target="_blank" title="ThemeZaa">ThemeZaa</a></div>
                        <!-- end copyright -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="{%static 'js/jquery.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/modernizr.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/bootstrap.min.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/jquery.easing.1.3.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/skrollr.min.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/smooth-scroll.js'%}'"></script>
        <script type="text/javascript" src="{%static 'js/jquery.appear.js'%}"></script>
        <!-- menu navigation -->
        <script type="text/javascript" src="{%static 'js/bootsnav.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/jquery.nav.js'%}"></script>
        <!-- animation -->
        <script type="text/javascript" src="{%static 'js/wow.min.js'%}"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="{%static 'js/page-scroll.js'%}"></script>
        <!-- swiper carousel -->
        <script type="text/javascript" src="{%static 'js/swiper.min.js'%}"></script>
        <!-- counter -->
        <script type="text/javascript" src="{%static 'js/jquery.count-to.js'%}"></script>
        <!-- parallax -->
        <script type="text/javascript" src="{%static 'js/jquery.stellar.js'%}"></script>
        <!-- magnific popup -->
        <script type="text/javascript" src="{%static 'js/jquery.magnific-popup.min.js'%}"></script>
        <!-- portfolio with shorting tab -->
        <script type="text/javascript" src="{%static 'js/isotope.pkgd.min.js'%}"></script>
        <!-- images loaded -->
        <script type="text/javascript" src="{%static 'js/imagesloaded.pkgd.min.js'%}"></script>
        <!-- pull menu -->
        <script type="text/javascript" src="{%static 'js/classie.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/hamburger-menu.js'%}"></script>
        <!-- counter  -->
        <script type="text/javascript" src="{%static 'js/counter.js'%}"></script>
        <!-- fit video  -->
        <script type="text/javascript" src="{%static 'js/jquery.fitvids.js'%}"></script>
        <!-- equalize -->
        <script type="text/javascript" src="{%static 'js/equalize.min.js'%}"></script>
        <!-- skill bars  -->
        <script type="text/javascript" src="{%static 'js/skill.bars.jquery.js'%}"></script> 
        <!-- justified gallery  -->
        <script type="text/javascript" src="{%static 'js/justified-gallery.min.js'%}"></script>
        <!--pie chart-->
        <script type="text/javascript" src="{%static 'js/jquery.easypiechart.min.js'%}"></script>
        <!-- instagram -->
        <script type="text/javascript" src="{%static 'js/instafeed.min.js'%}"></script>
        <!-- retina -->
        <script type="text/javascript" src="{%static 'js/retina.min.js'%}"></script>
        <!-- revolution -->
        <script type="text/javascript" src="{%static 'revolution/js/jquery.themepunch.tools.min.js'%}"></script>
        <script type="text/javascript" src="{%static 'revolution/js/jquery.themepunch.revolution.min.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/main.js'%}"></script>
    </body>
</html>